@import '../../style/common.wxss';

.container {
    background-color: #FFFFFF;
    padding-top: var(--navbar-height);

    .custom-navbar {
        display: flex;
        justify-content: center;
        position: relative;

        .navbar-title {
            font-size: 36rpx;
            font-weight: bold;
        }

        .navbar-icons {
            position: absolute;
            right: 20rpx;
            display: flex;
            gap: 20rpx;

            .navbar-icon {
                color: #333;
            }
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        padding: 20rpx;
        background-color: #fff;

        .search-input {
            flex: 1;
            margin-right: 20rpx;
        }

        .search-icons {
            display: flex;
            gap: 20rpx;
        }
    }

    .swiper-container {
        padding: 20rpx;
        background-color: #fff;

        .t-swiper {
            border-radius: 16rpx;
            overflow: hidden;
        }
    }

    .feature-buttons {
        display: flex;
        justify-content: space-around;
        padding: 40rpx 0;
        background-color: #fff;

        .feature-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            text {
                margin-top: 10rpx;
                font-size: 28rpx;
                color: #333;
            }
        }
    }
}